.card-container {
  cursor: pointer;
  height: 360px;
  width: 600px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
}

.card {
  height: 360px;
  width: 600px;
  position: absolute;
  border: 3px solid;
  border-color: navy;
  margin: 100px auto;
  transform-style: preserve-3d;
  transition: all 0.6s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.6s ease-in-out;
}

.card .front {
  height: 360px;
  width: 600px;
  display: block;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}

.card .back {
  height: 360px;
  width: 600px;
  text-align: center;
  transform: rotateY(180deg);
  background-color: white;
}

.eng{
  color: #333;
  font-size: 20px;
  padding-top: 70%;
}

.han{
  color: #333;
  font-size: 20px;
  padding-top: 20%;
}

.pin{
    color: rgba(200, 10, 10, 1);
    font-size: 20px;
    padding-top: 10%;
}
