.card-container {
  cursor: pointer;
  height: 420px;
  width: 700px;
  perspective: 1000px;
  position: relative;
  margin: auto;
  margin-top: 150px;
  transition: ease-in;
}

.card {
  height: 420px;
  width: 700px;
  position: absolute;
  border: 1px solid;
  border-color: rgb(25, 25, 112);
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}

.card .front {
  height: 420px;
  width: 700px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(176, 224, 230, 1)
}

.card .back {
  height: 420px;
  width: 700px;
  text-align: center;
  transform: rotateY(180deg);
  background-color: rgba(176, 224, 230, 1)
}

.question {
  color: #333;
  font-size: 2.3em;
  padding-top: 40%;
}

.answer {
  color: #333;
  font-size: 2.3em;
  padding-top: 20%;
}
